<div style="text-align:center; margin-top: 10%;">
    <h1>SPORTSMATRIX</h1>

    <%=button_to "click to login", login_path , method: :get%>
    <%=button_to "click to create account", users_path, method: :get%>

</div>